# SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
#
# SPDX-License-Identifier: GPL-3.0-or-later

**/__pycache__
*.pyc
*.automodsumm
*.automodapi
docs/_api
docs/_build
coverage.xml
venv*/
**/.*
