# SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
#
# SPDX-License-Identifier: GPL-3.0-or-later

click==8.4.1
docstring_parser==0.18
fancy-collections==0.3.0
fastdtw==0.3.4
matplotlib==3.10.9
numpy==2.4.6
pyarrow==24.0.0
pymoo==0.6.1.6
pandas==3.0.3
polars==1.41.2
scikit-learn==1.8.0
scipy==1.17.1
pydantic==2.13.4
pywavelets==1.9.0
