Click==7.1.2
dtw==1.4.0
hypothesis==6.8.3
matplotlib==3.4.1
mlxtend==0.18.0
numba==0.53.1
numpy==1.20.2
outlier-utils==0.0.3
pandas==1.2.3
pyarrow==3.0.0
pytest==6.2.3
pytest-lazy-fixture==0.6.3
PyWavelets==1.1.1
scikit-learn==0.24.1
scipy==1.6.2
typing_extensions==3.7.4.3
