typing_extensions==3.7.4.3
hypothesis==5.43.4
attrs==20.3.0
Click==7.1.2
cycler==0.10.0
dios==0.6.0
dtw==1.4.0
kiwisolver==1.3.1
llvmlite==0.35.0
importlib-metadata==3.7.0
joblib==1.0.1
matplotlib==3.3.4
mlxtend==0.18.0
more-itertools==8.7.0
numba==0.52.0
numpy==1.20.1
outlier==0.2
utils==1.0.1
outlier-utils==0.0.3
packaging==20.9
pandas==1.2.2
pluggy==0.13.1
pyparsing==2.4.7
py==1.10.0
pyarrow==3.0.0
pytest-lazy-fixture==0.6.3
pytest==6.2.2
python-dateutil==2.8.1
python-intervals==1.10.0.post1
pytz==2021.1
PyWavelets==1.1.1
zipp==3.4.0
wcwidth==0.2.5
scipy==1.6.1
scikit-learn==0.24.1
six==1.15.0
typing_extensions==3.7.4.3
astor==0.8.1
