# SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
#
# SPDX-License-Identifier: GPL-3.0-or-later

beautifulsoup4==4.12.2
hypothesis==6.88.1
Markdown==3.5.1
pytest==7.4.3
pytest-lazy-fixture==0.6.3
requests==2.31.0
