# SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
#
# SPDX-License-Identifier: GPL-3.0-or-later

beautifulsoup4==4.13.5
Markdown==3.8.2
hypothesis==6.138.14
pytest==8.4.1
requests==2.32.5
