# SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
#
# SPDX-License-Identifier: GPL-3.0-or-later

beautifulsoup4==4.12.3
Markdown==3.6
hypothesis==6.100.0
pytest==8.1.1
requests==2.31.0
