# SPDX-FileCopyrightText: 2021 Helmholtz-Zentrum für Umweltforschung GmbH - UFZ
#
# SPDX-License-Identifier: GPL-3.0-or-later

recommonmark==0.7.1
sphinx==7.2.6
sphinx-automodapi==0.16.0
sphinxcontrib-fulltoc==1.2.0
sphinx-markdown-tables==0.0.17
jupyter-sphinx==0.4.0
sphinx_autodoc_typehints==1.24.1
sphinx-tabs==3.4.4
sphinx-design==0.5.0
pydata-sphinx-theme==0.14.3
